/*  your css code here. If applicable */
#card{

	background:lightgray;
	display:inline-block;
	text-align:center;
	width:400px;
	height:700px;
}
#card>img{
	padding-top:30px;
   width:300px;
	
}
#card>h1{
	font-size:50px;
	lineheight:0px;
	padding:0px;
}
#card>p{
	text-align:center;
	font-size:35px;
	padding:0px 30px;
	line-height:35px;
}

#card>button{
	background:rgb(239,87,76);
	color:white;
	font-size:30px;
	border:none;
	border-radius:20px;
	padding: 20px 20px;
}